
#footer {
    border: solid white;
  height: 20%;
 float: left;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #E20074;
  color: white;
  text-align: center;
  opacity: 0.8;
}

#icons i{
    padding-left: 3%;
}

