<footer id="footer" class="page-footer font-small blue pt-4">
    <div class="container-fluid text-center text-md-left">
      <!-- Grid row -->
      <div class="row">
    
        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">
    
          <!-- Content -->
          
          <h5 class="text-uppercase">Siguenos <i class="fa fa-plus fa-1x"></i></h5>
          <div id="icons">
          <i class="fa fa-instagram fa-4x"></i>
          <i class="fa fa-facebook-f fa-4x"></i>
          <i class="fa fa-twitter fa-4x"></i>
          <i class="fa fa-envelope fa-4x"></i>
          
          
        </div>
          <p>Puedes contactarnos en cualquiera de nuestras redes sociales.</p>
         <br>
          <div class="footer-copyright text-center py-3">
            © 2020 Copyright: TEAM
        </div>
        </div>
        <!-- Grid column -->
    
        
    
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
    
          <!-- Links -->
          <h5 class="text-uppercase">Quien somos?</h5>
    
          <ul class="list-unstyled">
            <li><p>José</p></li>
            <li><p>Oscar</p></li>
            <li><p>Alex</p></li>
            <li><p>Juan Manuel</p></li>
            <li><p>Adrian</p></li>
          </ul>
    
        </div>
        <!-- Grid column -->
    
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
    
          <!-- Links -->
          <h5 class="text-uppercase">Que enseñamos?</h5>
    
          <ul class="list-unstyled">
          <app-courses *ngFor="let server of courses" [courseName]="server"></app-courses>
          </ul>
    
        </div>
        <!-- Grid column -->
    
    <!-- Footer Links -->
    
    <!-- Copyright -->
    
    <!-- Copyright -->
      </div>
      <!-- Grid row -->
    
    </div>
    </footer>
    