<div class="col-md-3">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr class="danger">
            <th scope="col">Propiedad</th>
            <th scope="col">Descripcion</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">url</th>
            <td>Un Observable de la (s) ruta (s) de ruta, representada como un conjunto de strings para cada parte de la ruta.</td>
          </tr>
          <tr>
            <th scope="row">data</th>
            <td>Un observable que contiene el objeto de datos proporcionado para la ruta. También contiene los valores resueltos del resguardo de resolución.</td>
          </tr>
          <tr>
            <th scope="row">paramMap</th>
            <td>Un Observable que contiene un mapa de los parámetros obligatorios y opcionales específicos de la ruta. El mapa admite la recuperación de valores únicos y múltiples del mismo parámetro.</td>
          </tr>
          <tr>
            <th scope="row">queryParamMap</th>
            <td>Un Observable que contiene un mapa de los parámetros de consulta disponibles para todas las rutas. El mapa admite la recuperación de valores únicos y múltiples del parámetro de consulta</td>
          </tr>
          <tr>
            <th scope="row">fragment</th>
            <td>Un observable del fragmento de URL disponible para todas las rutas.</td>
          </tr>
          <tr>
            <th scope="row">outlet</th>
            <td>El nombre del RouterOutlet utilizado para representar la ruta. Para una salida sin nombre, el nombre de la salida es primario.</td>
          </tr>
          <tr>
            <th scope="row">routeConfig</th>
            <td>La configuración de ruta utilizada para la ruta que contiene la ruta de origen.</td>
          </tr>
          <tr>
            <th scope="row">parent</th>
            <td>La ruta principal activada de la ruta cuando esta ruta es una ruta secundaria.</td>
          </tr>
          <tr>
            <th scope="row">firstChild</th>
            <td>Contiene la primera ruta activada en la lista de rutas secundarias de esta ruta.</td>
          </tr>
          <tr>
            <th scope="row">children</th>
            <td>Contiene todas las rutas secundarias activadas bajo la ruta actual.</td>
          </tr>
        </tbody>
      </table>
    </div>
</div>  