<div id="general">
<div class="floatingLeft" [ngStyle]="{backgroundColor:'#E20074', width:'100%'}"> 
    <img src="assets/logo_angular.png" class="img-circle floatingLeft" width="60px" />
    <h1 class="floatingLeft">Angular: Routing</h1>
    <button class="btn btn-primary floatingRight" [hidden]="userLogged" (click)="onLoggin()" >Loggin</button>
</div>

<div class="" id="login" [hidden]="!entering" style="background-color:#E20074; opacity:0.8; width:15%;z-index: 100;">
    <p style="color:white;float:left">Usuario:</p>
    <input type="text" style="float:left" [(ngModel)]="loggerUser" />
    

    <p style="color:white;float:left">Contraseña:</p>
    <input type="password" style="float:left" [(ngModel)]="loggerPass" />
    <button class="btn btn-primary floatingleft" (click)="loginFunction()" >Entrar</button>
</div>


<div class="floatingRight" [hidden]="!userLogged" [ngStyle]="{backgroundColor:'#E20074', opacity:'0.8', width:'20%'}">
    <img style="float:left" src="assets/userimg.jpg" class="img-circle" />
    <h4 style="color:white; float:left">{{loggerUser}}</h4>
    <button class="btn btn-primary floatingRight" (click)="logOut()" >Log out</button>
</div>
</div>